/* @media screen and (max-width: 750px){
  .dashComp-card-h5{
    font-family: 'SegoeUI' !important;
    letter-spacing: 3px !important;
    color:#212121 !important;
    font-size: 15pt !important;
   } 

} */


body{
    font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif !important;
    color: #9e9e9e !important;
    font-weight: 400;
    overflow-x: hidden;
}

.comName-nav{
  font-family: 'Segoe UI' !important;
  letter-spacing: 2 !important;
  text-transform:capitalize !important; 
  color:#fff !important;
  font-size: 15pt !important;
  margin-top: -5px !important;
}

.menubar-link{
  text-decoration: none !important;
  color: rgb(0, 126, 135) !important;
  font-size: 15px !important;
}
.menubar-link:hover{
  text-decoration: underline !important;
}

.menubar-tab-icon-position{  
  margin-bottom: -40px !important; 
}

.menubar-tab-app-bar{
  font-size: 12px !important;
  letter-spacing: 2 !important;
  color: rgb(80, 92, 109) !important;
}

.MuiTab-labelIcon {
  min-height: 45px !important; 
  padding-top: 9px  !important; 
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #000 !important;
}

.PrivateTabIndicator-colorPrimary-3 {
  background-color: rgb(0, 126, 135) !important;
}

.LINK{
  text-decoration: none !important;
  color: #212121 !important;
}

.button-link{
  text-decoration: none !important;
  color: #212121 !important;
}


.LINK:hover{
  text-decoration: underline !important;
  text-decoration-color: #bdbdbd !important;
}

.LINK:visited{
  text-decoration: none !important;
  color: #263238 !important;
}

.tableLink{
  color: #000 !important;
}

.marginTop{
  margin-top: -30px !important;
}

.nav-avatar-pointer{
  cursor: pointer;
}

.nav-title{
  margin-top: 500px !important;
}

.navDiv{
    width: 100% !important;
    background-color: rgb(0, 114, 188) !important;
    /* height: 40px !important;
    line-height: 40px !important; */
}

 .nav-avatar-menu{
   height: 140px !important;
    
 }
 .nav-avatar-menu-item{
  height: 20px !important;
  line-height: 20px !important;
}

.MuiDrawer-paper{
  background-color: #fafafa  !important;
}

 
.Accordion-background{
  background-color: #fff !important;
}


.menu-accordion{
  width:240px !important;
  color: #000 !important;
}

.alignSectionItems{
 justify-content: end !important;
 align-items: flex-end !important;
 text-align: right !important;
}


.row-1-grid-title{
   font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif !important;
   color: #9e9e9e !important;
   font-weight: 400;
}

.MuiDataGrid-cell{
  line-height: 40px !important;
  max-height: 40px !important;
  min-height: 40px !important;
}

.MuiDataGrid-row{
  line-height: 40px !important;
  max-height: 40px !important;
  min-height: 40px !important;
}


.rightGridSection{
  border-left-style: solid !important;
  border-left-width: 1px !important;
  height:400px !important;
  overflow-y: scroll;
}

.tbl-hdr-css{
  background-color: #e0e0e0;
}

.datagrid{
  padding: "0 30px",
  
} 

.MuiDataGrid-selectedRowCount{
  display:none !important;
}

.table-header-font{
  color:#009688 !important;
  font-weight: 545 !important;
  text-transform: uppercase !important;
}

.tableBody:hover{
cursor: pointer;
}

.table-header-background{
  background-color: #eeeeee !important;
}

.selectedRow{
  background-color: #e0f2f1 !important;
}

.accordion-Header-Design{
  background-color: #bdbdbd  !important;
}
.accordion-Header-Title{
  color: #000 !important;
  letter-spacing: 0.1rem !important;
  font-weight: 545 !important;
}

.side-display-accordion-Header-Design{
  background-color: #fff  !important;
}

.textFieldCss{
  height: 25px !important;
  font-size: 12px !important;
  border-radius: 0px !important;
   
}

.textFieldCss .MuiOutlinedInput-input {
  padding: 5px 5px !important;
}

.dropdown-css{
  border-style: solid !important;
  height: 25px !important;
  font-size: 12px !important;
  border-color: rgba(224, 224, 224, 1) !important;
  width: 100% !important;
  border-width: 1px !important;
  border-radius: 0px !important;   
  -webkit-border-radius: 0px;
}
.dropdown-css:focus{
  outline: none !important;
  border-style: solid !important;
  height: 25px !important;
  font-size: 12px !important;
  border-color: rgba(224, 224, 224, 1) !important;
  width: 100% !important;
  border-width: 1px !important;
  border-radius: 0px !important;   
  -webkit-border-radius: 0px;
}
 

.no-border-table{
  border-style: none !important;
}

.accordion-table{
  overflow: hidden !important;
}

 .dash-row-header{
   border-bottom-style: solid;
   border-bottom-width: 2px;
   border-bottom-color: #607d8b;  
   margin-bottom: 20px !important;   
 }

 .dash-row-header-title{
   font-size: 1.2rem;
   color: #455a64;
   font-family: 'SegoeUI';
   font-weight: 200;
 }

 .dash-header{
  cursor: pointer;
 }

 .dashComp-card-h5{
  font-family: 'SegoeUI' !important;
  letter-spacing: 3px !important;
  color:#212121 !important;
  font-size: 30pt !important;
 }

 .dash-activity-card{
   height:180px !important;
   border-style: none;
   box-shadow: none !important;
   border-radius: 0px !important;
 }

 .divider-overdue-border{
  background-color: #e65100  !important;
  height: 5px !important;
 }

 .dashComp-card2-h5{
  font-family: 'SegoeUI' !important;
  letter-spacing: 3px !important;
  color:#fff !important;
  font-size: 26pt !important;
  text-align: left !important;
 }

 .dash-activity-card2{
  height:100% !important;
  border-style: none;
  box-shadow: none !important;
  background-color: #00897b  !important;
  border-radius: 0px !important;
  color: #fff !important;
}

.card-link{
  text-decoration: none !important;
  color: #fff !important;
}

.quick-action-links{
  /* font-family: 'SegoeUI' !important; */
  letter-spacing: 1px !important;
  color: #263238 !important;
  text-decoration: none !important;
  text-transform:capitalize !important; 
}

.quick-action-links:hover{  
  letter-spacing: 1px !important;
  color: #00897b !important;
  text-decoration: underline !important;
}

.welcome-text{
  font-family: calibri !important;
  letter-spacing: 1px !important;
  font-size: 37.5pt !important;
  color:#000 !important;
}

.greetings{
  /* font-family: calibri !important; */
  letter-spacing: 2px !important;
  font-size: 28pt !important;
  color:#000 !important;
}

.welcome-username-highlight{
  font-family: calibri !important;
  letter-spacing: 2px !important;
  font-size: 37.5pt !important;
  color:#4caf50 !important;
  font-weight: 100 !important;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
}

.navigation-username-highlight{
  font-family: calibri !important;
  letter-spacing: 2px !important;
  font-size: 12.5pt !important;
  color:#4caf50 !important;
  font-weight: 100 !important;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
}

.user-last-activities{
  font-family: calibri !important;
  letter-spacing: 1px !important;
  font-size: 12pt !important;
  color:#90a4ae !important;
}

.chip-css{
  letter-spacing: 1px !important;
  font-size:10px !important;
  text-decoration: underline !important;
  color: #263238 !important;
  background-color: #b2dfdb !important;
  margin-top: 10px !important;
  margin-right: 2px !important;
}

.destination-title{
  letter-spacing: 2px !important;
  text-decoration: underline !important;
  text-decoration-color: #00897b !important;
  text-decoration-thickness: 1px !important;
  color:#424242 !important; 
  text-transform: uppercase !important;
}

.section-div-height{
  height: 250px !important;
  overflow-y: scroll;
}

.add-destination-button{
  background-color: #b0bec5 !important;
}

.divider-custom{
  background-color: #263238  !important;
  height: 1px !important;
 }

 .backLink:hover{
   cursor: pointer;
 }
 
 .table-text-field{ 
  border-style: none !important;
  width:50% !important;
 }

 .table-text-field:focus{ 
  outline: none !important;
  border-style: solid !important;
  border-color:#b0bec5 !important;
  border-width: 1px !important; 
 }

 .checkbox-css{
   cursor: pointer !important;
 }

 .pageLink-css{
   color: #01579b !important;
   text-decoration: underline !important;
 }

 .side-display-header-css{
   font-size: 12px !important;
   color: #00897b !important;
   font-weight: bold !important;
 }

 .side-display-partition-divider{
  background-color: #004d40  !important;
  height: 1px !important;
 }

 .border-less-datagrid{
   border-style: none !important;
 }

 

/**************************************************************************************************************************/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }