  .desktopOnly{
     display :none !important;
   }

   .mobileOnly{
    display :none !important;
  }
@media (min-width:320px)  { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .desktopOnly{
    display :none !important;
  }
  .mobileOnly{
    display :block !important;
  }
 }
@media (min-width:480px)  { 
  /* smartphones, Android phones, landscape iPhone */ 
  .desktopOnly{
    display :none !important;
  }
  .mobileOnly{
    display :block !important;
  }
}
@media (min-width:600px)  { 
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .desktopOnly{
    display :none !important;
  }
  .mobileOnly{
    display :block !important;
  }
}
@media (min-width:801px)  {
   /* tablet, landscape iPad, lo-res laptops ands desktops */ 
   .desktopOnly{
    display :none !important;
  }
  .mobileOnly{
    display :block !important;
  }
  }
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
  .desktopOnly{
    display :block !important;
  }
  .mobileOnly{
    display :none !important;
  }
}
@media (min-width:1281px) {
   /* hi-res laptops and desktops */

   .desktopOnly{
    display :block !important;
  }
  .mobileOnly{
    display :none !important;
  }

   }

   
 

.PointerOnHover{
  cursor: pointer !important;
}


body{
  font-family: Calibri !important;
  color: #9e9e9e !important;
  font-weight: 400;
  overflow-x: hidden;
}


.themeFont{
  font-family: Calibri !important;
  font-size: 14px !important;
}

.MuiDataGrid-toolbarContainer{
  margin-bottom: -10px !important;
}
.MuiDataGrid-columnsContainer{
  min-height: 40px !important; 
    max-height: 40px !important;
     line-height: 40px !important;

}
.MuiTablePagination-caption{
  margin-left: -12px !important;
}

.MuiDataGrid-window{
  top:40px !important;
}

.MuiAutocomplete-root{
  height: 27.81px !important;
  line-height: 27.81px !important;
}

.MuiDataGrid-cell:focus{
  outline: 'none' !important;
}

.MuiInput-underline:before {
  left: initial !important;
  right: initial !important;
  content:"" !important;
}

.MuiInput-root{
  font-size: 14 !important;
} 

.MuiInputBase-root{
  font-size: 14 !important;
} 

.AutocompletetextFieldCss.MuiInputBase-root{
  font-size: 14 !important;
}

.css-19qh8xo-MuiInputBase-input-MuiOutlinedInput-input {
  height: 27.81px !important;
  line-height: 27.81px !important;
}

.MuiDataGrid-toolbarContainer{
  background-color: #fff !important;
}

.MuiDataGrid-columnHeaderWrapper{
  background-color: #fff !important;
}

.css-ypofq1-MuiDataGrid-toolbarContainer{
  background-color: #fff !important;
}
.css-okt5j6-MuiDataGrid-columnHeaders{
  background-color: #fff !important;
}
.css-1b34haf-MuiDataGrid-footerContainer {
  height: 40px !important;
  min-height: 40px !important;
}

.MuiDataGrid-cell {
  line-height: 15px !important;
  max-height: 15px !important;
  min-height: 15px !important;
}

.MuiButton-root {
  font-family: Calibri !important;
}

.MuiTypography-root {
  font-family: Calibri !important;
}

.MuiTypography-body1 {
  font-family: Calibri !important;
}

.MuiDataGrid-root{
  border-radius: 0px !important;
  font-family: Calibri !important;
}

.MuiTableBody-root{
  font-family: Calibri !important;
}

.MuiTableCell-root{
  font-family: Calibri !important;
}


.GridLabelHeaders{
  font-family: Calibri !important;
  font-size: 20px !important;
  color: rgb(80, 92, 109) !important;
}

.GridLabelValue{
  font-family: Calibri !important;
  font-size: 14px !important;
  color: rgb(0, 115, 124) !important;
}

.tableBody{
  font-family: Calibri !important;
  letter-spacing: 1 !important;
  }

  .dialog-area{
    font-family: Calibri !important;
  letter-spacing: 1 !important;
  }

.btn-area-div-row{
  /* border-top-style: solid !important; */
  border-bottom-style: solid !important;
  border-width: 1px !important;
  height: 40px !important;
  border-color: #bdbdbd !important;
}

.openfullbtn{
  color: rgb(0, 126, 135) !important;
}

.openfullbtn:hover{
 cursor: pointer !important;
}

.dropdowninputbtn{
  height: 25px;
  line-height: 25px;
  width:25px ;
  margin-top: 2px !important;
  margin-left: 2px !important;
  border-radius: 0px !important;
  border-width: 1px !important;
}

.dropdowninputbtn:hover{
  cursor: pointer !important;
}

.dialog-prompt-activity{
  border-radius: 0px !important;
  margin-top: -50px !important;
  border-top-left-radius: 0px !important;
}

.css-cyxlny-MuiPaper-root-MuiDialog-paper{
  border-radius: 0px !important;
}

.dialog-area{
  background-color: #eceff1 !important;
}


.inside-table-cell-bold{
  font-weight: bold !important;
  color:#90a4ae !important
}

.sidenav-fixedheight-scroll{
  height: 450px !important;
  width: 100% !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.hide-row-arrow-display{
  display: none !important;
}
.show-row-arrow-display{
  display: block !important;
}


.fixedElement { 
  position:fixed;
  top:0;
  width:100%;
  z-index:100;   
}






/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

 .csvExportComponent{
  border-style:none !important;
  background-color: inherit !important;
  color: rgb(0, 126, 135) !important;
 }
 .csvExportComponent:hover{
  cursor: pointer !important;
 }

.file-browse-btn{
 color: #3e2723 !important;
}

.file-upload-input::-webkit-file-upload-button {
  visibility: hidden;
}

.switchfullwidth{
  width: 100% !important;
}

.file-upload-input::before {
  content: 'Browser File here';  
  white-space: nowrap;
 
   
}

 

.file-upload-input:hover{
  cursor: pointer;
}

.file-upload-input:active {
  outline: 0;
}
 
.file-upload-input {
  display: none;   
  width: 90%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #b2dfdb;
  background: linear-gradient(to top, #cfd8dc , #cfd8dc );  
  border: thin dashed #999;
  border-radius: .25em;
  box-shadow: inset .25em .25em .25em #cfd8dc, inset -.1em -.1em .1em #cfd8dc;
  cursor: text;
  padding: .25em;
}
 



.avatar-hover:hover{
  cursor: pointer;
}

.linearProgress-css{
  background-color: #009688 !important;
   
}

.mini-branch-logo-css{
  width: 120px !important;
  height: 30px !important;
}

.action-btns{
  font-size: 16px !important;
  color: rgb(0, 126, 135) !important;
  border-right-style: none !important;
  text-transform: initial!important;
  background-color: inherit !important;
  height:25px !important;
  line-height:25px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-left: 5px !important;
  
}
.action-btns:hover{
  color: rgb(0, 126, 135) !important;
  border-right-style: none !important;
  background-color: #e0f2f1 !important;
  height:25px !important;
  line-height:25px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-left: 5px !important;
}

.menuiconBtn:hover{
cursor: pointer;
}

.menusection-action-userFirstname{
  color: #000 !important;
  letter-spacing: 2px;
  height:25px !important;
  line-height:25px !important;
  text-transform: initial !important;
  font-size: 18px !important;
  font-family: Calibri !important;
}

.topMenuLink{
  text-decoration: none !important;
  color: #505C6D !important;
  font-size: 18px !important;
  font-family: Calibri !important;
  text-transform: initial !important;
}

.topMenuLink:hover{
  color: rgb(0, 126, 135) !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.menusection-action-btns{
  color: #505C6D !important;
  border-right-style: none !important;
  height:25px !important;
  line-height:25px !important;  
  text-transform: initial !important;
  font-size: 18px !important;
  font-family: Calibri !important;
  width:'100%' !important;
  /* min-width:'100%' !important;
  max-width:300px !important; */
  /* border-right-style: solid !important;
  border-right-width: 1px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right-color: rgb(0, 126, 135) !important; */
}

.menusection-action-btns:hover{
  color: rgb(0, 126, 135) !important;
  text-decoration: underline !important;
  height:25px !important;
  line-height:25px !important;
}

.menusection-div1{
  height:40px !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  text-align: left !important;
  letter-spacing: 2px;
  color: #000 !important;
  font-size: 16px !important; 
  border-right-color:#505C6D !important;
  
}


.btn-bottom-border-color{
  color: rgb(0, 126, 135) !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgb(0, 126, 135) !important;
  border-bottom-width: 3px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.notification-alert{
  margin-bottom: -12px !important; 
  
}

 .css-7uysqn-MuiPaper-root-MuiAlert-root{
  padding: 0px 16px !important;
}  

.comName-nav{
  font-family: 'Segoe UI' !important;
  letter-spacing: 2 !important;
  text-transform:capitalize !important; 
  color:#fff !important;
  font-size: 15pt !important;
  margin-top: -5px !important;
}

.menubar-link{
  text-decoration: none !important;
  color: rgb(0, 126, 135) !important;
  font-size: 14px !important;
  letter-spacing: 2 !important;
  margin-left: 12px !important;
  margin-right: 5px !important;
}
.menubar-link:hover{
  text-decoration: underline !important;
  cursor: pointer !important;
}

.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}

.menubar-tab-icon-position{  
  margin-right: -60px !important; 
  margin-bottom: -22px !important;
}

.menubar-tab-app-bar{
  font-size: 12px !important;
  letter-spacing: 2 !important;
  color: rgb(80, 92, 109) !important;
  min-height: 10px !important;
  /* margin-left: -40px !important;
  margin-right: -5px !important; */
}

.menubar-tab-height{
  min-height: 10px !important;
}

.MuiTab-labelIcon {
  min-height: 45px !important; 
  padding-top: 9px  !important; 
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #000 !important;
}

.PrivateTabIndicator-colorPrimary-3 {
  background-color: rgb(0, 126, 135) !important;
}

.LINK{
  text-decoration: none !important;
  color: #212121 !important;
}




.button-link{
  text-decoration: none !important;
  color: #212121 !important;
}

.style-buttons{
  padding-left: 24px;
  color:black
}

.style-all-Links{
 display: inline-block;
  margin-left:24px;
}
.style-all-Links .style-link{
  color: #000;
  padding:auto 3px;
  font-size: medium;
  
}



.LINK:hover{
  text-decoration: underline !important;
  text-decoration-color: #bdbdbd !important;
  color: rgb(0, 126, 135) !important;
}

 

.LINK:visited{
  text-decoration: none !important;
  /* color: #263238 !important; */
}

.tableLink{
  color: #000 !important;
}

.marginTop{
  margin-top: -30px !important;
}

.nav-avatar-pointer{
  cursor: pointer;
}

.nav-title{
  margin-top: 500px !important;
}

.nav-exit-link{
  color: #fff !important;
  display: inline;
  padding-right:20px ;
  
}
.nav-exit-link:hover{
  cursor: pointer !important;
  
}

.navDiv{
    width: 100% !important;
    background-color: #0072bc !important;
    font-family: Calibri !important;
    /* height: 40px !important;
    line-height: 40px !important; */
    display: inline;
}

.navDiv .MuiToolbar-regular {
  min-height: 40px !important;
}

 

 .nav-avatar-menu{
   height: 140px !important;
    
 }
 .nav-avatar-menu-item{
  height: 20px !important;
  line-height: 20px !important;
}

.MuiDrawer-paper{
  background-color: #fafafa  !important;
}

 
.Accordion-background{
  background-color: #fff !important;
}


.menu-accordion{
  width:240px !important;
  color: #000 !important;
}

.alignSectionItems{
 justify-content: end !important;
 align-items: flex-end !important;
 text-align: right !important;
}


.row-1-grid-title{
   /* font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif !important; */
   color: #9e9e9e !important;
   font-weight: 400;
}

.MuiDataGrid-cell{
  line-height: 40px !important;
  max-height: 40px !important;
  min-height: 40px !important;
}

.MuiDataGrid-row{
  line-height: 40px !important;
  max-height: 40px !important;
  min-height: 40px !important;
}


.rightGridSection{
  border-left-style: solid !important;
  border-left-width: 1px !important;
  height:400px !important;
  overflow-y: scroll;
}

.tbl-hdr-css{
  background-color: #e0e0e0;
}

.datagrid{
  padding: "0 30px",
  
} 

.MuiDataGrid-selectedRowCount{
  display:none !important;
}


.rightAlignInputElements{
  text-align: right !important;
}

.line-table-header-font{
  text-align: left !important;
  color:#009688 !important;
  /* font-size: 10px !important; */
  font-weight: bold !important;
  text-transform: initial !important;
  background-color: #fff !important;
}



 

.table-header-font{
  color:#009688 !important;
  font-weight: 545 !important;
  text-transform: initial !important;
  background-color: #fff !important;
}

.tableBody:hover{
cursor: pointer;
}

.linetableRow{
  background-color: 'pink' !important;
}

.table-header-background{
  background-color: #eeeeee !important;
   
}

.lineSelectedRow{ 
  background-color: #f3f7f6 !important;
}

.selectedRow{
  background-color: #e0f2f1 !important;
}
.selectedRowError{
  background-color: #fff5f5 !important;
}

.accordionD{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.accordion-Header-Design{  
  border-color:#009688 ;
  border-bottom-color: #000;
  border-bottom-width: 2px;  
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  min-height: 30px !important;
  max-height: 30px !important;
  /* minHeight: 30,maxHeight: 30 */
}

.AccordionDetails-css{
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-top-color: #eeeeee !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.accordion-Header-Design .MuiAccordionSummary-root .Mui-expanded{
  border-color: #000;
  min-height : 40px ;
  max-height:40px ; 
   
}


.accordion-Header-Title{
  color: #009688 !important;
  font-family: Calibri !important;
  /* letter-spacing: 0.1rem !important; */
  /* font-weight: bold !important; */
  /* text-decoration: underline !important; */

}
 /* .MuiButtonBase-root .MuiAccordionSummary-root .accordion-Header-Design {
  border-bottom-color: black !important; */




/* .accordion-all{
  padding-left: 30px;

}
   */


  .logo-style{
    max-width: 150px;
    padding-top:160px;
    padding-left:15px ;
    
    

  }



.side-display-accordion-Header-Design{
  background-color: #fff  !important;
 
}

.AutocompletetextFieldCss{
  font-family: Calibri !important;
  padding: 5px 5px !important;
  height: 30px !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px;
  border-color: rgba(224, 224, 224, 1) !important; 
  background-color: '#ffffff' !important;
}


.switchFieldCss{
  height: 30px !important;
}

.line-table-header2-font{
  text-align: left !important;
  color:#009688 !important;
  font-weight: bold !important;
  text-transform: initial !important;
  /* background-color: #e0f7fa !important; */
  border-style: solid !important;
  border-width: 1px !important;
  padding-left: 5px !important;
}


#no-space-table{
  border-collapse: collapse !important; 

}

#no-space-table tr td{
   padding:0px; 
   margin:0px; 
   border:0px; 
   border: solid !important;
   border-width: 1px !important;
   border-color: #009688 !important;
  }

.td-width{
  width:100px !important;
  min-width: 100px !important;  
  max-width: 100px !important;
}

.DISABLEDCGINPUTBOXCSS{
  background-color: #f5f5f5  !important;
  height: 28px !important;
  font-family: Calibri !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  border-width: 0px !important;
  border-color: initial !important; 
  /* border-color: rgba(224, 224, 224, 1) !important;  */
  outline-style: initial !important;
  outline-color: none !important;
  -webkit-border-radius: 0px;
}

.CGINPUTBOXCSS{
  background-color: initial !important;
  height: 28px !important;
  font-family: Calibri !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  border-width: 0px !important;
  border-color: initial !important; 
  /* border-color: rgba(224, 224, 224, 1) !important;  */
  outline-style: initial !important;
  outline-color: none !important;
  -webkit-border-radius: 0px;
}

.CGINPUTBOXCSS:focus{
  background-color: #e0f2f1 !important;
  font-family: Calibri !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  border-width: 1px !important;
  border-color: rgba(224, 224, 224, 1) !important; 
  outline-style: initial !important;
  outline-color: none !important;
  -webkit-border-radius: 0px;
}

.CGINPUTBOXCSS:active{
  background-color: #e0f2f1 !important;
  font-family: Calibri !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  border-width: 1px !important;
  border-color: rgba(224, 224, 224, 1) !important; 
  /* outline: 1px solid #000000; */
  outline-style: initial !important;
  outline-color: none !important;
  -webkit-border-radius: 0px;
}

.CGSELECTCSS{
  height: 27.81px !important;
  line-height: 27.81px !important;
  font-size: 13px !important;
  border-radius: 0px !important;
  box-sizing:border-box;
  border-color: rgba(224, 224, 224, 1) !important;
  border-width: 1px !important;
  border-radius: 0px !important;   
  -webkit-border-radius: 0px;
  background: inherit !important;
  outline-style: initial !important;
  outline-color: none !important;
}

/*---------------------------------------------------------------------------------------*/

.textFieldCss{
  font-family: Calibri !important;
  height: 30px !important;
  font-size: 14px !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px;
  /* font-weight: 400; */
  border-color: rgba(224, 224, 224, 1) !important; 
 
}

.txtFieldCssDisabled{
  background-color: 'pink' !important;
}

.MuiOutlinedInput-root {   
  border-radius: 0px !important;  
  min-width: 100% !important;
  /* height: 30px !important; */
}

  .MuiInputBase-input{
font-size: 14 !important;
}  

.texbox-font-css{
  font-size: 15px !important;
  /* font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif !important; */
}


.MuiOutlinedInput-input {
  padding: 5px 5px !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px;
  border-color: rgba(224, 224, 224, 1) !important; 
  font-size: 15px !important;
  font-family: Calibri !important;
  width: 100% !important;
   
}


.MuiOutlinedInput-input:hover {
  padding: 5px 5px !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px;
  border-color: rgba(224, 224, 224, 1) !important; 
  font-size: 15px !important;
  font-family: Calibri !important;
}


.MuiOutlinedInput-input:focus {
  padding: 5px 5px !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px;
  border-color: rgba(224, 224, 224, 1) !important; 
  font-size: 15px !important;
  font-family: Calibri !important;
}


 .textFieldCss:focus{
  border-radius: 0px !important;
  -webkit-border-radius: 0px;
  border-color: rgba(224, 224, 224, 1) !important;
}

.textFieldCss .MuiOutlinedInput-input {
  padding: 5px 5px !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px;
  border-color: rgba(224, 224, 224, 1) !important; 
}

.textFieldCss .MuiOutlinedInput-input:focus {
  padding: 5px 5px !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px;
  border-color: rgba(224, 224, 224, 1) !important; 
}


.line-dropdown-css{
  height: 27.81px !important;
  line-height: 27.81px !important;
  font-size: 13px !important;
  border-radius: 0px !important;
  box-sizing:border-box;
  border-color: rgba(224, 224, 224, 1) !important;
  border-width: 1px !important;
  border-radius: 0px !important;   
  -webkit-border-radius: 0px;
  background: inherit !important;
}

.dropdown-css{
  height: 27.81px !important;
  line-height: 27.81px !important;
  font-size: 13px !important;
  border-radius: 0px !important;
  box-sizing:border-box;
  border-color: rgba(224, 224, 224, 1) !important;
  border-width: 1px !important;
  border-radius: 0px !important;   
  -webkit-border-radius: 0px;
}

.dropdown-css:focus{
  outline: none !important;
  /* border-style: solid !important; */
  /* height: 25px !important; */
  font-size: 13px !important;
  border-radius: 0px !important;
  border-color: rgba(224, 224, 224, 1) !important;
  box-sizing:border-box;
  /* min-width: 100% !important; */
  border-width: 1px !important;
  border-radius: 0px !important;    
   -webkit-border-radius: 0px;
}

.autocomplete-css{
  /* height: 20 !important; */
  line-height: 27.81px !important;
  /* height: 25px !important; */
  font-size: 14px !important;
  border-radius: 0px !important;
  /* min-width: 100% !important; */
  box-sizing:border-box;
  border-color: rgba(224, 224, 224, 1) !important;
  /* min-width: 100% !important; */
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 0px !important;   
  -webkit-border-radius: 0px;
  background-color: '#ffffff' !important;
  text-decoration: 'none';
  outline: none !important;
}

.autocomplete-css:focus{
  outline: none !important;
  /* border-style: solid !important; 
  height: 25px !important; */
  font-size: 14px !important;
  border-radius: 0px !important;
  border-color: rgba(224, 224, 224, 1) !important;
   box-sizing:border-box; 
  /* min-width: 100% !important;  */
   border-width: 1px !important;
  border-radius: 0px !important;    
   -webkit-border-radius: 0px;
   text-decoration: 'none';
}

.css-ghsjzk-MuiInputBase-root-MuiInput-root::before,::after {
  border-bottom:0px solid #fff !important; 
  
}

.css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper {
  font-size: 14px !important;
}



.autocomplete-css .css-ghsjzk-MuiInputBase-root-MuiInput-root{
  font-size: 14px !important;
}
  
.lineDatagridCell{
  font-family: Calibri !important;
  font-size: 14px !important;
}

 

.no-border-table{
  border-style:none !important;
  display:inline;
  /* font-weight: bold !important; */
  color: #424242 !important;
}


.accordion-table{
  overflow: hidden !important;

}

 .dash-row-header{
   border-bottom-style: solid;
   border-bottom-width: 2px;
   border-bottom-color: #607d8b;  
   margin-bottom: 20px !important;   
 }

 .dash-row-header-title{
   font-size: 1.2rem;
   color: #455a64;
   font-family: 'SegoeUI';
   font-weight: 200;
 }

 .dash-header{
  cursor: pointer;
 }

 .dashComp-card-h5{
  font-family: 'SegoeUI' !important;
  letter-spacing: 3px !important;
  color:#212121 !important;
  font-size: 30pt !important;
 }

 .dash-activity-card{
   height:180px !important;
   border-style: none;
   box-shadow: none !important;
   border-radius: 0px !important;
 }

 .divider-overdue-border{
  background-color: #e65100  !important;
  height: 5px !important;
 }

 .dashComp-card2-h5{
  font-family: 'SegoeUI' !important;
  letter-spacing: 3px !important;
  color:#fff !important;
  font-size: 26pt !important;
  text-align: left !important;
 }

 .dash-activity-card2{
  height:100px !important;
  border-style: none;
  box-shadow: none !important;
  background-color: #00897b  !important;
  border-radius: 0px !important;
  color: #fff !important;
}

.card-link{
  text-decoration: none !important;
  color: #fff !important;
}

.quick-action-links{
  /* font-family: 'SegoeUI' !important; */
  letter-spacing: 1px !important;
  color: #263238 !important;
  text-decoration: none !important;
  text-transform:capitalize !important; 
}

.quick-action-links:hover{  
  letter-spacing: 1px !important;
  color: #00897b !important;
  text-decoration: underline !important;
}

.welcome-text{
  font-family: calibri !important;
  letter-spacing: 1px !important;
  font-size: 37.5pt !important;
  color:#000 !important;
}

.greetings{
  /* font-family: calibri !important; */
  letter-spacing: 2px !important;
  font-size: 28pt !important;
  color:#000 !important;
}

.welcome-username-highlight{
  font-family: calibri !important;
  letter-spacing: 2px !important;
  font-size: 37.5pt !important;
  color:#4caf50 !important;
  font-weight: 100 !important;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
}

.navigation-username-highlight{
  font-family: calibri !important;
  letter-spacing: 2px !important;
  font-size: 12.5pt !important;
  color:#4caf50 !important;
  font-weight: 100 !important;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
}

.user-last-activities{
  font-family: calibri !important;
  letter-spacing: 1px !important;
  font-size: 12pt !important;
  color:#90a4ae !important;
}

.chip-css{
  letter-spacing: 1px !important;
  font-size:10px !important;
  text-decoration: underline !important;
  color: #263238 !important;
  background-color: #b2dfdb !important;
  margin-top: 10px !important;
  margin-right: 2px !important;
}

.destination-title{
  letter-spacing: 2px !important;
  text-decoration: underline !important;
  text-decoration-color: #00897b !important;
  text-decoration-thickness: 1px !important;
  color:#424242 !important; 
  text-transform: uppercase !important;
}

.section-div-height{
  height: 250px !important;
  overflow-y: scroll;
}

.add-destination-button{
  background-color: #b0bec5 !important;
}

.divider-custom{
  background-color: #263238  !important;
  height: 1px !important;
 }

 
 .style-breadcrumb{
   padding-left: 24px;
    
 }

 .breadcrumb-height{
   padding-top:5px;
   height: 20px !important;
   padding-bottom:5px;
 }

 .breadcrumb-bottom{
   height:15px;
}

.New-link-bottom{
  height: 25px;
}
.table-adjust{
  margin-left:20px ;
}

 

 .backLink:hover{
   cursor: pointer;
 }
 
 .table-text-field{ 
  border-style: none !important;
  width:50% !important;
 }

 .table-text-field:focus{ 
  outline: none !important;
  border-style: solid !important;
  border-color:#b0bec5 !important;
  border-width: 1px !important; 
 }

 .checkbox-css{
   cursor: pointer !important;
 }

 .pageLink-css{
   color: #01579b !important;
   text-decoration: underline !important;
 }

 .side-display-header-css{
   font-size: 12px !important;
   color: #00897b !important;
   font-weight: bold !important;
 }

 .side-display-partition-divider{
  background-color: #004d40  !important;
  height: 1px !important;
 }

 .border-less-datagrid{
   border-style: none !important;
 }

 .chk-all-cell-css{
   background-color: #e0f2f1 !important;
  
 }

 .table-delete-icon{
   color: #e53935;
 }
 .table-delete-icon:hover{
  cursor: pointer !important;

}

.table-add-icon{
  color: #004d40;
}
.table-add-icon:hover{
  cursor: pointer !important;
}


.custom-card{
  height: 250px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #bdbdbd !important;
  border-bottom-width: 5px !important;
  margin-right:  5px !important;
  background-color: #e0e0e0 !important;
}

 /*******************************************************************/
.onhoverPointer{
  cursor: pointer !important;
}

 .chat-app-box{
   height: 350px !important;
   overflow-y: scroll;
   overflow-x: hidden !important;
   
 }

 .chatAppBar .MuiToolbar-regular {
  min-height: 40px !important;
}

.chatAppBarDiv { 
  position:fixed;
  top:50px;
  width:100%;      
}

.inputMessageBox{
  width: 100% !important;
  height:40px !important;
  /* border-style: none !important; */
  border-radius: 50px !important;
  resize:none !important;
  padding-left: 10px !important; 
  padding-right: 10px !important; 
  padding-top: 10px !important; 
  padding-bottom: 20px !important; 
}
.inputMessageBox:focus{ 
   
  outline: 0 !important;     
}
 

.inputMessageBox::-webkit-input-placeholder { 
  vertical-align: middle !important; 
   
}
 


.purchase-voucher-table{
  border-style: solid !important;
  border-width: 1px !important;
  
}

.purchase-voucher-table-tablecell{
  border-left-style: solid !important;
  border-right-style: solid !important;
  border-top-style: none !important;
  border-bottom-style: none !important;
  border-width: 1px !important;
}


/**************************************************************************************************************************/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e0f2f1; /*#f1f1f1*/
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e0f2f1;  /*#888*/
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #009688;   /*#555  #b2dfdb  */
  }